$baseColor : #2e7b97;
$bodyBgColor : #f8f8f8;
$textLightColor : rgb(94,177,207);
$navItemActiveColor : rgb(1,47,63);
$tableHeaderBgColor : #5eb1cf;
$pageTitleColor : #2e7b97;
$dropdownBgColor : #2e7b97;

// Add Modal variables
$modalHeadingColor : #179cc7;
$modalHeaderBgColor : #f6f2f2;
$addBtnBgColor : #179cc7;

// Add Media variables
$goArrowColor : #179cc7;
$tabBgColor : #179cc7;
$tabTextColor : #179cc7;
$leftPanelBgColor : rgb(241,241,241);
$matChipBgColor :  #179cc7;

// settings page color variables
$settingsSidebarTextColor : #2e7b97;
$settingsSidebarBgColor : #dfdddd;
$settingsActiveItemBgColor : #fff;