$baseColor : #2e7b97;
$bodyBgColor : rgb(248,248,248);
$textLightColor : rgb(94,177,207);
$navItemActiveColor : rgb(1,47,63);
$tableHeaderBgColor : #5eb1cf;
$pageTitleColor : #2e7b97;
$dropdownBgColor : #2e7b97;