<nav class="navbar navbar-expand-md navbar-light position-fixed top-0 w-100 f-16 p-0">
    <div class="container-fluid p-0">
      <img src="../assets/images/favicon.png" class="img-responsive" alt="brand-img" />
      <button class="navbar-toggler p-2 me-3 my-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto p-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link text-white px-4" routerLink="/subscribers" routerLinkActive="active" aria-current="page">Subscribers</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white px-4" routerLink="/content" routerLinkActive="active">Content</a>
          </li>
          <li class="nav-item mx-md-3">
            <a class="nav-link text-white px-4">Slides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-4">Datasets</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <div>
            <ul class="list-unstyled mb-0 d-flex">
                <li class="p-2">
                    <p class="mb-0 text-white">{{loginUser}}</p>
                    <button class="bg-transparent border-0 light-text" (click)="logout()">Logout</button>
                </li>
                <li class="p-2">
                  <a routerLink="/settings/genres" class="text-decoration-none">
                    <mat-icon aria-hidden="false" class="d-block light-text w-100 text-center" aria-label="settings icon">settings</mat-icon>
                    <button class="bg-transparent border-0 light-text">Settings</button>
                  </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </nav>