<mat-accordion class="accordion-custom-padding parent-media-rt-panel">
    <mat-expansion-panel class="bg-transparent shadow-none">
        <mat-expansion-panel-header class="px-3 border-bottom mb-4">
            <mat-panel-title>
                Telugu
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- <mat-expansion-panel-body class="px-3"> -->
        <div>
            <p class="f-14"> <span class="fw-bold d-block f-15">
                    Title:
                </span> Film title will be here </p>
            <p class="f-14"> <span class="fw-bold d-block f-15">
                    Movie URL:
                </span> www.webema.com </p>
        </div>
        <!-- </mat-expansion-panel-body> -->
    </mat-expansion-panel>
</mat-accordion>